#  Laura Jarzombek, Unit 13 Assignment, MSDS 6306, Unit 404

In [1]:
#Question 1.

In [ ]:
my_list=[45.4, 44.2, 36.8, 35.1, 39.0, 60.0, 47.4, 41.1, 45.8, 35.6]

In [ ]:
#1.	Created a list named my_list in python with data points.

In [4]:
print (my_list[4])

39.0

In [ ]:
#a.	Printed the 5th element in the list

In [5]:
my_list.append(55.2)

In [ ]:
#b.	Appended 55.2 to my_list

In [6]:
print (my_list)

[45.4, 44.2, 36.8, 35.1, 39.0, 60.0, 47.4, 41.1, 45.8, 35.6, 55.2]

In [ ]:
#Printed list to show appendage.

In [11]:
my_list.pop(5)

60.0

In [ ]:
#c.	Removed the 6th element in the list.

In [12]:
print (my_list)

[45.4, 44.2, 36.8, 35.1, 39.0, 47.4, 41.1, 45.8, 35.6, 55.2]

In [ ]:
#Printed list to show 6th element removed.

In [14]:
for num in my_list: 
    if num >45:
        print (num)

45.4
47.4
45.8
55.2

In [ ]:
#d.	Iterated over the list to print data points greater than 45.

In [ ]:
#Question 2.

In [15]:
import numpy

In [ ]:
#a.	Imported the numpy library using the following command – import numpy

In [26]:
my_array = numpy.array(my_list)

In [ ]:
#b.	Declared numpy array with the same data points as in my_list using numpy.array()

In [27]:
numpy.mean(my_array)

42.560000000000002

In [28]:
numpy.std(my_array)

5.9709630713981143

In [ ]:
#c.	Computed the mean and standard deviation using numpy.mean() and numpy.std() of the above array

In [29]:
my_new_list = []
for num in my_list:
    if num < 45:
        my_new_list.append(num)
print(my_new_list)

[44.2, 36.8, 35.1, 39.0, 41.1, 35.6]

In [ ]:

#d.	Used logical referencing to get only those values that are less than 45.

In [30]:
numpy.max(my_new_list)

44.200000000000003

In [31]:
numpy.min(my_new_list)

35.100000000000001

In [ ]:

#e.	Computed the max and min of the array using numpy.max() and numpy.min()

In [ ]:
#Question 3.

In [27]:
import pandas

In [ ]:
#a.	Import the pandas library – import pandas

In [28]:
iris = pandas.read_csv('iris.csv')

In [ ]:
#b.	Read the IRIS dataset into iris using pandas.read_csv(). Data file –

In [29]:
iris.head()

   ﻿Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
#c.	Using iris.head(), display the head of the dataset

In [31]:
iris.drop(iris.columns[[0]],axis=1)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
5              5.4           3.9            1.7           0.4     Iris-setosa
6              4.6           3.4            1.4           0.3     Iris-setosa
7              5.0           3.4            1.5           0.2     Iris-setosa
8              4.4           2.9            1.4           0.2     Iris-setosa
9              4.9           3.1            1.5           0.1     Iris-setosa
10             5.4           3.7            1.5           0.2     Iris-setosa
11             4.8           3.4            1.6           0.2     Iris-setosa
12             4.8           3.0            1.4           0.1     Iris-setosa
13             4.3           3.0            1.1           0.1     Iris-setosa
14             5.8           4.0            1.2           0.2     Iris-setosa
15             5.7           4.4            1.5           0.4     Iris-setosa
16             5.4           3.9            1.3           0.4     Iris-setosa
17             5.1           3.5            1.4           0.3     Iris-setosa
18             5.7           3.8            1.7           0.3     Iris-setosa
19             5.1           3.8            1.5           0.3     Iris-setosa
20             5.4           3.4            1.7           0.2     Iris-setosa
21             5.1           3.7            1.5           0.4     Iris-setosa
22             4.6           3.6            1.0           0.2     Iris-setosa
23             5.1           3.3            1.7           0.5     Iris-setosa
24             4.8           3.4            1.9           0.2     Iris-setosa
25             5.0           3.0            1.6           0.2     Iris-setosa
26             5.0           3.4            1.6           0.4     Iris-setosa
27             5.2           3.5            1.5           0.2     Iris-setosa
28             5.2           3.4            1.4           0.2     Iris-setosa
29             4.7           3.2            1.6           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
120            6.9           3.2            5.7           2.3  Iris-virginica
121            5.6           2.8            4.9           2.0  Iris-virginica
122            7.7           2.8            6.7           2.0  Iris-virginica
123            6.3           2.7            4.9           1.8  Iris-virginica
124            6.7           3.3            5.7           2.1  Iris-virginica
125            7.2           3.2            6.0           1.8  Iris-virginica
126            6.2           2.8            4.8           1.8  Iris-virginica
127            6.1           3.0            4.9           1.8  Iris-virginica
128            6.4           2.8            5.6           2.1  Iris-virginica
129            7.2           3.0            5.8           1.6  Iris-virginica
130            7.4           2.8            6.1           1.9  Iris-virginica
131            7.9           3.8            6.4           2.0  Iris-virginica
132            6.4           2.8            5.6           2.2  Iris-virginica
133            6.3           2.8            5.1           1.5  Iris-virginica
134            6.1           2.6            5.6           1.4  Iris-virginica
135            7.7           3.0            6.1           2.3  Iris-virginica
136            6.3           3.4            5.6           2.4  Iris-virginica
137            6.4           3.1            5.5           1.8  Iris-virginica
138            6.0           3.0            4.8           1.8  Iris-virginica
139            6.9           3.1            5.4           2.1  Iris-virginica
140            6.7           3.1            5.6           2.4  Iris-virginica
141            6.9           3.1            5.1           2.3  Iris-virginica
142            5.8           2.7            5.1           1.9  Iris-virginica
143            6.8           3.2            5.9           2.3  Iris-virginica
144            6.7           3.3            5.7           2.5  Iris-virginica
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
# d.	Use DataFrame.drop() to drop the id column.

In [36]:
iris_s = iris.loc[iris['Species'] == "Iris-setosa"]
print (iris_s)

    ﻿Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0     1            5.1           3.5            1.4           0.2  Iris-setosa
1     2            4.9           3.0            1.4           0.2  Iris-setosa
2     3            4.7           3.2            1.3           0.2  Iris-setosa
3     4            4.6           3.1            1.5           0.2  Iris-setosa
4     5            5.0           3.6            1.4           0.2  Iris-setosa
5     6            5.4           3.9            1.7           0.4  Iris-setosa
6     7            4.6           3.4            1.4           0.3  Iris-setosa
7     8            5.0           3.4            1.5           0.2  Iris-setosa
8     9            4.4           2.9            1.4           0.2  Iris-setosa
9    10            4.9           3.1            1.5           0.1  Iris-setosa
10   11            5.4           3.7            1.5           0.2  Iris-setosa
11   12            4.8           3.4            1.6           0.2  Iris-setosa
12   13            4.8           3.0            1.4           0.1  Iris-setosa
13   14            4.3           3.0            1.1           0.1  Iris-setosa
14   15            5.8           4.0            1.2           0.2  Iris-setosa
15   16            5.7           4.4            1.5           0.4  Iris-setosa
16   17            5.4           3.9            1.3           0.4  Iris-setosa
17   18            5.1           3.5            1.4           0.3  Iris-setosa
18   19            5.7           3.8            1.7           0.3  Iris-setosa
19   20            5.1           3.8            1.5           0.3  Iris-setosa
20   21            5.4           3.4            1.7           0.2  Iris-setosa
21   22            5.1           3.7            1.5           0.4  Iris-setosa
22   23            4.6           3.6            1.0           0.2  Iris-setosa
23   24            5.1           3.3            1.7           0.5  Iris-setosa
24   25            4.8           3.4            1.9           0.2  Iris-setosa
25   26            5.0           3.0            1.6           0.2  Iris-setosa
26   27            5.0           3.4            1.6           0.4  Iris-setosa
27   28            5.2           3.5            1.5           0.2  Iris-setosa
28   29            5.2           3.4            1.4           0.2  Iris-setosa
29   30            4.7           3.2            1.6           0.2  Iris-setosa
30   31            4.8           3.1            1.6           0.2  Iris-setosa
31   32            5.4           3.4            1.5           0.4  Iris-setosa
32   33            5.2           4.1            1.5           0.1  Iris-setosa
33   34            5.5           4.2            1.4           0.2  Iris-setosa
34   35            4.9           3.1            1.5           0.1  Iris-setosa
35   36            5.0           3.2            1.2           0.2  Iris-setosa
36   37            5.5           3.5            1.3           0.2  Iris-setosa
37   38            4.9           3.1            1.5           0.1  Iris-setosa
38   39            4.4           3.0            1.3           0.2  Iris-setosa
39   40            5.1           3.4            1.5           0.2  Iris-setosa
40   41            5.0           3.5            1.3           0.3  Iris-setosa
41   42            4.5           2.3            1.3           0.3  Iris-setosa
42   43            4.4           3.2            1.3           0.2  Iris-setosa
43   44            5.0           3.5            1.6           0.6  Iris-setosa
44   45            5.1           3.8            1.9           0.4  Iris-setosa
45   46            4.8           3.0            1.4           0.3  Iris-setosa
46   47            5.1           3.8            1.6           0.2  Iris-setosa
47   48            4.6           3.2            1.4           0.2  Iris-setosa
48   49            5.3           3.7            1.5           0.2  Iris-setosa
49   50            5.0           3.3            1.4           0.2  Iris-setosa

In [ ]:
e.	Subset dataframe to create a new data frame that includes only the measurements for the setosa species. Printed the subsetted data.

In [37]:
iris_s.describe()

            ﻿Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [ ]:
f.	Use DataFrame.describe() to get the summary statistics

In [47]:
iris.groupby(['Species']).mean()

,﻿Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.006,3.418,1.464,0.244
Iris-versicolor,75.5,5.936,2.770,4.260,1.326
Iris-virginica,125.5,6.588,2.974,5.552,2.026

In [48]:
iris.groupby(['Species']).mean().describe()

         ﻿Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count    3.0       3.000000      3.000000       3.000000      3.000000
mean    75.5       5.843333      3.054000       3.758667      1.198667
std     50.0       0.795061      0.331325       2.089602      0.897798
min     25.5       5.006000      2.770000       1.464000      0.244000
25%     50.5       5.471000      2.872000       2.862000      0.785000
50%     75.5       5.936000      2.974000       4.260000      1.326000
75%    100.5       6.262000      3.196000       4.906000      1.676000
max    125.5       6.588000      3.418000       5.552000      2.026000

In [49]:
#g.	Use DataFrame.groupby() to create grouped data frames by Species and compute summary statistics using DataFrame.describe()

In [11]:
iris.boxplot(['Species'])

NameError: name 'iris' is not defined

In [6]:
#h.	Use DataFrame.boxplot() to plot boxplots by Species

In [9]:
import seaborn as sns
sns.pairplot(iris,hue='Species')

ImportError: No module named 'seaborn'

In [63]:
#i.	Import seaborn
#ii.	Seaborn.pairplot(dataframe,by=’column_name’)
#import seaborn as sns
#sns.pairplot(iris,hue='Species')

In [ ]:
Deliverable is a link to Jupiter notebook file on GitHub.